
	<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0" style="color: black;">
 <div class="wave2"></div>
    <div style="background-color: #182F4A;">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text" style="color: white;">Get connected with us!</h6>
                </div>

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4" style="color: black;">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>RH Developer LTD</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    We are Develop  In Map app for global use
                </p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: black;">
                    <strong>Products</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.inmap">In Map Mobile app</a>
                </p>
                <p>
                    <a href="#!">In Map web</a>
                </p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: black;">
                    <strong>Our Link</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100017130010905">Facebook Fans Page</a>
                </p>
                <p>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100017130010905&lst=100002453570626%3A100017130010905%3A1526483690&sk=app_instapp">Instagram</a>
                </p>
                <p>
                    <a target="_blank" href="http://rhdeveloper.blogspot.co.id/2017/12/privacy-policy-rh-developer-operates-www.html">Privacy Policy</a>
                </p>
                 <p>
                    <a href="#!">Our Team</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3" style="color: black;">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> Denpasar, Bali </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> rh.developer01@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> 087853947663</p>
               
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/">
            <strong> inMap.com</strong>
        </a>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->
	