<div id='ticket-wrapper' style="overflow: auto;">
    <div class='label-text type-event'>Let's book now</div>
    
    <div id='ticket-body' class='ticket ticket-text'>
        <div class='left-side'>
            <div class='logo'></div>
            <div class='barcode'></div>
            <div class='price' id="ticket-price"> 
                
            </div>
        </div>
        <div class='right-side'>
             <div class='ticket-title' style="margin-top: 5px;" align='center' id="ticket-title">
                
            </div>
            <div class='ticket-date'>
                <table border='0px solid'>
                    <tr>
                       <td>Date</td>
                        <td>:</td>
                         <td>
                            <span id="ticket-dateStart">
                            
                            </span>
                        </td>
                        <td>-</td>
                         <td>
                            <span id="ticket-dateEnd">
                            
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>:</td>
                        <td>
                            <span id="ticket-timeStart">
                            
                            </span>
                        </td>
                        <td>-</td>
                        <td>
                            <span id="ticket-timeEnd">
                            
                            </span>
                        </td>
                    </tr>
                </table>
            <div id="ticket-address">Location : Jln. Nusan tara No 9 Bangli, Bali</div>
            </div>
            <div class='ticket-title' id="ticket-desc">
                
            </div>
            <!-- <div class='sosmed-wrapper'>
                <input type='text' placeholder='facebook' id="fb"><input type='text' placeholder='e-mail' id="email"><input type='text' placeholder='Phone Number' id="p-number">
            </div> -->
            <div style="background-color: red;margin-top: 60px;">www.facebook.com</div>
        </div>
    </div>
</div>
