<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Edit My Event</title>

	<script src='<?php echo base_url(); ?>assets/js/jquery-3.3.1.min.js'></script>
	<script src='<?php echo base_url(); ?>assets/js/jquery-ui-1.10.0.custom.min.js'></script>
	<!--styles -->
	<link href="<?php echo base_url(); ?>assets/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="<?php echo base_url(); ?>assets/css/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
	<!-- link fontawesome css from CDN -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<script type="text/javascript" src='<?php echo base_url(); ?>assets/js/function.js'></script>

	<link rel="stylesheet" href="<?php echo base_url(); ?>swiper-4.1.6/dist/css/swiper.min.css"></link>

<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
	<style type="text/css">
		.btn-close{
			color: white;
			margin-left: 5px;
		}
		.btn-close:hover{
			cursor: pointer;
			color: rgb(255,255,100);
			font-size: 11pt;
		}
		.form{
			margin: auto;
			/* margin-top: 10%; */
		    width: 40%;
		    height: 300px;
		    border: 1px solid gray;
		    /* padding: 10px; */
		    align-content: center;
		    padding-top: 10%;
		    
		}
		.inputBox{
			width: 50%;
			height: 30px;
			margin-top: 5px;
		}
		.button{
			width: 50%;
			height: 30px;
			background-color: orange;
			margin-top: 5px;	
		}

		.swiper-con{
			position: relative;
		    height: 500px;
		    width: 100%;
		}

		.swiper-container {
		    height: 500px;
		    width: 100%;
		    position: static;
		    background-color: white;
		 }

		.swiper-slide {
		    background-position: center;
		    background-size: cover;
		 }

		 .tab-title{
		  color: orange;
		 }
		#tabs{
		    margin-top: 10px;
		}
		 .event-image-container{
		     height: 500px;
		     width: 100%;
		 }

		 .event-image{
		     max-width: 100%;
		     height: auto;
		 }
		 .event-image-input{
		    max-width: 50%;
		    height: auto;
		    position: relative;
		    margin-left: auto;
		    margin-right: 1%;
		    margin-top: 1%;
		    /* margin-right: auto; */
		}
		.gallery{
		    width: 100%;
		    margin-top: 1%;
		}

		 .input-image-form{
		     max-width: 100%;
		     height: auto;
		 }

		 .input-event{
		     width: 100%;
		     height: 40px;
		 }
		 .input-event-transparent{
		    width: 100%;
		    text-align: center;
		    margin-top: 1%;
		    border: 0.5px solid white;
		    background-color: rgba(255,255,255,0); 
		    color : white;
		    
		}
		 .input-event-desc{
		     width: 100%;
		     height: 100px;
		     margin-top: 1%;
		 }

		 .container-input{
		    width: 80%;
		    max-width: 1200px;
		    margin-left: auto;
		    margin-right: auto;
		 }
		 .body{
		    /* background-color: rgb(248,248,250); */
		    background-color: #F1F1F1;
		 }

		 .date-left{
		     float: left;
		     margin-top: 1%;
		     /* padding-right: 20px; */
		 }
		 .date-right{
		     float: left;
		     margin-top: 1%;
		 }
		 .input-date{
		     height: 40px;
		 }
		 .batas{
		     width : 30px;
		     height: 10px;
		     float: left;
		 }
		 .type-event{
		     margin-top: 1%;
		 }
		.label-text{
		    font-size: 16pt;
		}
		.map{
		    margin-top: 1%;
		    height: 500px;
		    width: 100%;
		}
		.btn-input-img{
		  margin-right: auto;
		}
		.btn-wrapper{
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 3%;
		    width : 35%;
		}
		.btn-event{
		    height: 40px;
		    color: white;
		    background-color: orange;
		}

		.footer{
		    width: 100%;
		    height: 300px;
		    background-color: rgb(40,44,53);
		}

		.ticket{
		    margin-top: 10px;
		    width : 90%;
		    min-width: 800px;
		    height: 300px;
		    background: url("../../assets/img/ticket-bck.png") no-repeat;
		    background-size: cover;
		}
		.left-side{
		    float: left;
		    height: 300px;
		    width: 25%;
		    border-right: 2px solid white;
		}
		.right-side{
		    float: left;
		    height: 300px;
		    width: 75%;
		    min-width: 500px;
		}
		.logo{
		    height: 80px;
		    width: 80px;
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 10px;
		    background: url("../../assets/img/logo.png") no-repeat;
		    background-size: cover;
		}
		.barcode{
		    width: 120px;
		    height: 120px;
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 20px;
		    background: url("../../assets/img/barcode.png") no-repeat;
		    background-size: cover;
		}
		.ticket-title{
		    width: 70%;
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		}
		.sosmed-wrapper{
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		    top: 20px;
		    width: 88%;
		    height: 30px;
		}
		.ticket-text{
		    color: white;
		}
		.ticket-date{
		    margin-top: 20px;
		    margin-left: 5px;
		}
		.price{
		    text-align: center;
		    margin-top: 10px;
		}

		.display-youtube{
		    height: 500px;
		    width: 100%;
		    background-color: red;
		}
		.btn-file{
		    padding: 10px;
		    background: red; 
		    display: table;
		    color: #fff;
		    width: 50px;
		}
		.fileContainer {
		    overflow: hidden;
		    position: relative;
		    height: 50px;
		   	background-color: orange;
		   	color: white;
		   	border-radius: 25px;
		   	width: 300px; 
		   	font-size: 14pt;
		   	padding-top: 10px;
		}
		.fileContainer [type=file] {
		    cursor: pointer;
		    display: block;
		    font-size: 999px;
		    filter: alpha(opacity=0);
		    min-height: 100%;
		    min-width: 100%;
		    opacity: 0;
		    position: absolute;
		    right: 0;
		    text-align: right;
		    top: 0;
		}
		.ticket{
		    margin-top: 10px;
		    width : 90%;
		    min-width: 800px;
		    height: 300px;
		    background: url("<?php echo base_url(); ?>assets/img/ticket-bck.png") no-repeat;
		    background-size: cover;
		}
		.left-side{
		    float: left;
		    height: 300px;
		    width: 25%;
		    border-right: 2px solid white;
		}
		.right-side{
		    float: left;
		    height: 300px;
		    width: 75%;
		    min-width: 500px;
		}
		.logo{
		    height: 80px;
		    width: 80px;
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 10px;
		    background: url("<?php echo base_url(); ?>assets/img/logo.png") no-repeat;
		    background-size: cover;
		}
		.barcode{
		    width: 120px;
		    height: 120px;
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 20px;
		    background: url("<?php echo base_url(); ?>assets/img/barcode.png") no-repeat;
		    background-size: cover;
		}
		.ticket-title{
		    width: 70%;
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		}
		.sosmed-wrapper{
		    position: relative;
		    margin-left: auto;
		    margin-right: auto;
		    top: 20px;
		    width: 88%;
		    height: 30px;
		}
		.ticket-text{
		    color: white;
		}
		.ticket-date{
		    margin-top: 20px;
		    margin-left: 5px;
		}
		.price{
		    text-align: center;
		    margin-top: 10px;
		}

	</style>
</head>

<body class="body">
	<div id="header"></div>
	<div style="height: 50px;"></div>
	<div style="margin-left: 5%; font-size: 20pt;"><i class="fas fa-pen-square" style="color: orange;"></i> Hai, Let's Edit Your Event</div>
	<div style="height: 10px;"></div>
	 <input type="hidden" id="event-id" value="<?php echo $event[0]["event_id"] ?>">
	<div class="tab">
				<div class="container-input">
					<div class="card">
						<div class="card-body">
							<div class="input-image-form" align="center">
								<form method="post" action="" id="upload-form" enctype="multipart/form-data">
									<label  class="fileContainer">
										<i class="fas fa-images"></i>
										Choose Your Event Images
										<input type="file" multiple name="files" id="files">
									</label>
									<div>We recomended you to select 1700px x 800px of images</div>
									<input type="hidden" id="is-image-change" value="no" name="">
								</form>

								<div class="gallery" align="center">
									<?php
							    	$len =  count($photo);
							    		foreach ($photo as $row) {
							    			$url = base_url() . "" . $row["photo_url"];
							    			echo '
							    				<img src="'.$url.'" class="event-image-input">
							    			';	
							    		}
							    	?>
								</div>
							</div>
							<!-- event titile -->
							<div id="sample" style="margin-top: 20px;">
								<div class="label-text">Your event title</div>
								<textarea id="event-title-area" style="width: 100%; height: 30px;">
									<?php
										echo $event[0]["title"];
									?>
								</textarea>
							</div>
							
							<div id="sample" style="margin-top: 20px;">
								<div class="label-text">Event description, tell all about our event</div>
								<textarea id="event-description-area" style="width: 100%; height: 200px;">
									<?php
										echo $event[0]["description"];
									?>
								</textarea>
							</div>
							
							<!-- date and time start -->
							
							<div class="label-text" style="margin-top: 20px;"><i class="far fa-calendar-alt"></i>  Pick Date and Time for your event</div>
							<div class="date-left">
								<?php
									echo '
										<input type="text" placeholder="Date Start" id="eventDateStart" class="input-date" value="'.$event[0]["dateStart"].'" style="border-radius: 0px !important; color: black;">
									';
								?>
								
								<select class="input-date" id="timeStart" value="1.00 am">
									<option value="12.00 am" >12.00 am</option>
									<option value="12.30 am">12.30 am</option>
									<option value="1.00 am">1.00 am</option>
									<option value="1.30 am">1.30 am</option>
									<option value="2.00 am">2.00 am</option>
									<option value="2.30 am">2.30 am</option>
									<option value="3.00 am">3.00 am</option>
									<option value="3.30 am">3.30 am</option>
									<option value="4.00 am">4.00 am</option>
									<option value="4.30 am">4.30 am</option>
									<option value="5.00 am">5.00 am</option>
									<option value="5.30 am">5.30 am</option>
									<option value="6.00 am">6.00 am</option>
									<option value="6.30 am">6.30 am</option>
									<option value="7.00 am">7.00 am</option>
									<option value="7.30 am">7.30 am</option>
									<option value="8.00 am">8.00 am</option>
									<option value="8.30 am">8.30 am</option>
									<option value="9.00 am">9.00 am</option>
									<option value="9.30 am">9.30 am</option>
									<option value="10.00 am">10.00 am</option>
									<option value="10.30 am">10.30 am</option>
									<option value="11.00 am">11.00 am</option>
									<option value="11.30 am">11.30 am</option>
									<option value="12.00 pm">12.00 pm</option>
									<option value="12.30 pm">12.30 pm</option>
									<option value="1.00 pm">1.00 pm</option>
									<option value="1.30 pm">1.30 pm</option>
									<option value="2.00 pm">2.00 pm</option>
									<option value="2.30 pm">2.30 pm</option>
									<option value="3.00 pm">3.00 pm</option>
									<option value="3.00 pm">3.30 pm</option>
									<option value="4.00 pm">4.00 pm</option>
									<option value="4.30 pm">4.30 pm</option>
									<option value="5.00 pm">5.00 pm</option>
									<option value="5.30 pm">5.30 pm</option>
									<option value="6.00 pm">6.00 pm</option>
									<option value="6.30 pm">6.30 pm</option>
									<option value="7.00 pm">7.00 pm</option>
									<option value="7.30 pm">7.30 pm</option>
									<option value="8.00 pm">8.00 pm</option>
									<option value="8.30 pm">8.30 pm</option>
									<option value="9.00 pm">9.00 pm</option>
									<option value="9.30 pm">9.30 pm</option>
									<option value="10.00 pm">10.00 pm</option>
									<option value="10.30 pm">10.30 pm</option>
									<option value="11.00 pm">11.00 pm</option>
									<option value="11.30 pm">11.30 pm</option>
								</select>
							</div>
							<div class="batas" style="text-align: center; font-size: 16pt; padding-top: 15px;"><i class="fas fa-arrows-alt-h"></i></div>
							<!-- date and time end -->
							<div class="date-right">
								<input type="text" placeholder="Date End" id="eventDateEnd" class="input-date"
								value="<?php echo $event[0]['dateEnd'] ?>" 
								 style="border-radius: 0px !important; color: black;">
								<select class="input-date" id="timeEnd">
									<option value="12.00 am">12.00 am</option>
									<option value="12.30 am">12.30 am</option>
									<option value="1.00 am">1.00 am</option>
									<option value="1.30 am">1.30 am</option>
									<option value="2.00 am">2.00 am</option>
									<option value="2.30 am">2.30 am</option>
									<option value="3.00 am">3.00 am</option>
									<option value="3.30 am">3.30 am</option>
									<option value="4.00 am">4.00 am</option>
									<option value="4.30 am">4.30 am</option>
									<option value="5.00 am">5.00 am</option>
									<option value="5.30 am">5.30 am</option>
									<option value="6.00 am">6.00 am</option>
									<option value="6.30 am">6.30 am</option>
									<option value="7.00 am">7.00 am</option>
									<option value="7.30 am">7.30 am</option>
									<option value="8.00 am">8.00 am</option>
									<option value="8.30 am">8.30 am</option>
									<option value="9.00 am">9.00 am</option>
									<option value="9.30 am">9.30 am</option>
									<option value="10.00 am">10.00 am</option>
									<option value="10.30 am">10.30 am</option>
									<option value="11.00 am">11.00 am</option>
									<option value="11.30 am">11.30 am</option>
									<option value="12.00 pm">12.00 pm</option>
									<option value="12.30 pm">12.30 pm</option>
									<option value="1.00 pm">1.00 pm</option>
									<option value="1.30 pm">1.30 pm</option>
									<option value="2.00 pm">2.00 pm</option>
									<option value="2.30 pm">2.30 pm</option>
									<option value="3.00 pm">3.00 pm</option>
									<option value="3.00 pm">3.30 pm</option>
									<option value="4.00 pm">4.00 pm</option>
									<option value="4.30 pm">4.30 pm</option>
									<option value="5.00 pm">5.00 pm</option>
									<option value="5.30 pm">5.30 pm</option>
									<option value="6.00 pm">6.00 pm</option>
									<option value="6.30 pm">6.30 pm</option>
									<option value="7.00 pm">7.00 pm</option>
									<option value="7.30 pm">7.30 pm</option>
									<option value="8.00 pm">8.00 pm</option>
									<option value="8.30 pm">8.30 pm</option>
									<option value="9.00 pm">9.00 pm</option>
									<option value="9.30 pm">9.30 pm</option>
									<option value="10.00 pm">10.00 pm</option>
									<option value="10.30 pm">10.30 pm</option>
									<option value="11.00 pm">11.00 pm</option>
									<option value="11.30 pm">11.30 pm</option>
								</select>
							</div>
							<!-- youtube video here -->
							<div style="margin-top: 80px;">
								<div class="label-text">Youtube video, if you don't have leave it empty</div>
								<div><a target="_blank" href="<?php echo site_url('c_create_event/goto_youtube_url') ?>"><i class="fas fa-info-circle"></i> See how to get youtube url</a></div>
								<?php
									if(isset($event[0]["video_url"])){
										$decodeUrl = urldecode($event[0]["video_url"]);
										echo '
											<input type="text" placeholder="Paste your youtube video url here" id="eventVideoUrl" class="form-control input-event" value="'.$decodeUrl.'" style="border-radius: 0px !important; color: black; background-color: white !important;">
										';
									}
									else{
										echo '
											<input type="text" placeholder="Paste your youtube video url here" id="eventVideoUrl" class="form-control input-event" style="border-radius: 0px !important; color: black; background-color: white !important;">
										';
									}
								?>
								
							</div>
							<!-- kategory -->
							<div class="label-text type-event" style="margin-top: 30px;">Event Category</div>
							<select class="form-control input-event"  id="category" style="border-radius: 0px !important; color: black; background-color: white !important;">
								<?php 
								foreach($category as $row){
									print '<option value="' . $row['kategori_id'] . '">' . $row['kategori_name'] . '</option>';
								}
							?>
							</select>
							<!-- event location -->
							<div class="label-text type-event" style="margin-top: 30px;">Select your event location by search location or drag the marker</div>
							<div class="left">
								<input type="text" placeholder="Type some location here" id="searchTextField" class="form-control input-event" style="border-radius: 0px !important; color: black; background-color: white !important;" autocomplete="on" runat="server">

							</div>
							<!-- showing map here -->
							<div id="map" class="map">
								
							</div>
							<div class="label-text type-event">
								Tell people about your event locations
							</div>
							<div class="left">
								<input type="text" id="event-location-desc" class="form-control input-event" style="border-radius: 0px !important; color: black; background-color: white !important;" value="<?php echo $location[0]["address_description"];?>" >
								
							</div>
							<input type="hidden" id="latitude">
							<input type="hidden" id="longitude">
							<input type="hidden" id="formatted_address">
							<input type="hidden" id="administrative_area_level_1">
							<!-- type of event -->
							<div class="type-event" style="margin-top: 30px;">
								<div class="label-text">Choose Your Event Type</div>
								<form id="eventType">
									<?php
										if($event[0]["type"] == "public"){
											echo '
												<input type="radio" name="gender" value="public" id="public" checked>
												<b>Public Event </b>: Share your event to public with ticket or not
												<br>
												<input type="radio" name="gender" value="private" id="private">
												<b>Private Event</b>: Share your event invitation directly to your infriend
												<br>
											';
										}
										else{
											echo '
												<input type="radio" name="gender" value="public" id="public" >
												<b>Public Event </b>: Share your event to public with ticket or not
												<br>
												<input type="radio" name="gender" value="private" id="private" checked>
												<b>Private Event</b>: Share your event invitation directly to your infriend
												<br>
											';
										}
									?>
									
								</form>
							</div>
							<!-- ticket available or not, when public event checked, generate elemen using jquery-->
							<!-- jquery on bottom -->
							<div id="select-ticket" style="margin-top: 30px;">
								<form id="ticketAvailable">
									<?php
										if($event[0]["type"] == "public"){
											if($event[0]["ticket"] == "yes"){
												echo '
													<div id="need-ticket" class="type-event label-text">
													Need Ticket ?
													</div>
													<div id="ticket-body">
														<input type="radio" name="gender" value="yes" id="yes" checked> <b>yes</b> : when your event wanna using ticket (paid or free ticket) and you want limit your customer attending<br>
														<input type="radio" name="gender" value="no" id="no"> <b>no</b> : when your event not need ticket like promotion or discount etc.<br>
													</div>
												';
											}
											else{
												echo '
													<div id="need-ticket" class="type-event label-text">
													Need Ticket ?
													</div>
													<div id="ticket-body">
														<input type="radio" name="gender" value="yes" id="yes" > <b>yes</b> : when your event wanna using ticket (paid or free ticket) and you want limit your customer attending<br>
														<input type="radio" name="gender" value="no" id="no" checked> <b>no</b> : when your event not need ticket like promotion or discount etc.<br>
													</div>
												';
											}
										}
									?>
									
								</form>
							</div>
							<!-- when ticket yes -->
							<div id="yes-ticket" style="margin-top: 30px;">
								<?php
									if($event[0]["ticket"] == "yes"){
										if($ticket[0]["price"] > 0){
											echo '
												<div id="ticket-option">
													<div id="ticket-pricing" class="type-event label-text">Choose your Ticket Pricing
													</div>
													<form>
														<input type="radio" value="free" name="free" id="free"> <b>Free</b> Ticket<br>
														<input type="radio" value="paid" id="paid" name="free" checked> <b>Paid Ticket</b><br>
													</form>
												</div>
											';
										}
										else{
											echo '
												<div id="ticket-option">
													<div id="ticket-pricing" class="type-event label-text">Choose your Ticket Pricing
													</div>
													<form>
														<input type="radio" value="free" name="free" id="free" checked> <b>Free Ticket</b><br>
														<input type="radio" value="paid" id="paid" name="free"> <b>Paid Ticket</b><br>
													</form>
												</div>
											';
										}
									}
								?>
								
							</div>
							<div id="ticket-shown" style="margin-top: 30px;"></div>
							<?php
								if(isset($ticket)){
									if($ticket[0]["price"] > 0){
										echo '
											<div id="ticket-wrapper" >
										    <div class="label-text type-event">Lets make your ticket now</div>
										    <hr>
										    <div class="label-text">Number of ticket</div>
										         <input type="number" value="'.$ticket[0]["ticketTotal"].'" class="input-event" id="numberTicket">
										    <div class="label-text" style="margin-top: 30px;">Maximum ticket per order</div>
										        <input type="number" value="'.$ticket[0]["max_order"].'" class="input-event" id="maximum-order">
										    <div id="ticket-body" class="ticket ticket-text">
										        <div class="left-side">
										            <div class="logo"></div>
										            <div class="barcode"></div>
										            <div class="price"> 
										                 Price : Rp<input id="ticket-price" type="text" placeholder="50.000" style="width:100px;" value="'.$ticket[0]["price"].'">
										            </div>
										        </div>
										        <div class="right-side">
										             <div class="ticket-title" align="center">
										                <input type="text" placeholder="ticket title" id="ticketTitle" class="input-event" value="'.$ticket[0]["ticket_title"].'">
										            </div>
										            <div class="ticket-date">
										                <table border="0px solid">
										                    <tr>
										                       <td>Date</td>
										                        <td>:</td>
										                         <td>
										                            <span id="ticket-dateStart">
										                            	'.$ticket[0]["dateStart"].'
										                            </span>
										                        </td>
										                        <td>-</td>
										                         <td>
										                            <span id="ticket-dateEnd">
										                            	'.$ticket[0]["dateEnd"].'
										                            </span>
										                        </td>
										                    </tr>
										                    <tr>
										                        <td>Time</td>
										                        <td>:</td>
										                        <td>
										                            <span id="ticket-timeStart">
										                            	'.$ticket[0]["timeStart"].'
										                            </span>
										                        </td>
										                        <td>-</td>
										                        <td>
										                            <span id="ticket-timeEnd">
										                            	'.$ticket[0]["timeEnd"].'
										                            </span>
										                        </td>
										                    </tr>
										                </table>
										            <div id="ticket-location">Location : '.$location[0]["address"].'</div>
										            </div>
										            <div class="ticket-title">
										                <textarea class="input-event-transparent" rows="5" cols="10" id="ticketDescription" placeholder="Your Event Description">
										                '.$ticket[0]["ticket_description"].'
										                </textarea> 
										            </div>
										            <div class="sosmed-wrapper">
										                <input type="text" placeholder="facebook" id="fb" value="'.$ticket[0]["facebook"].'">
										                <input type="text" placeholder="e-mail" id="email" value="'.$ticket[0]["email"].'">
										                <input type="text" placeholder="Phone Number" id="p-number" value="'.$ticket[0]["phone"].'">
										            </div>
										        </div>
										    </div>
										</div>
										';
									}
									else{
										echo '
											<div id="ticket-wrapper" >
										    <div class="label-text type-event">Lets make your ticket now</div>
										    <hr>
										    <div class="label-text">Number of ticket</div>
										         <input type="number" value="'.$ticket[0]["ticketTotal"].'" class="input-event" id="numberTicket">
										    <div class="label-text" style="margin-top: 30px;">Maximum ticket per order</div>
										        <input type="number" value="'.$ticket[0]["max_order"].'" class="input-event" id="maximum-order">
										    <div id="ticket-body" class="ticket ticket-text">
										        <div class="left-side">
										            <div class="logo"></div>
										            <div class="barcode"></div>
										            <div class="price"> 
										                 FREE
										            </div>
										        </div>
										        <div class="right-side">
										             <div class="ticket-title" align="center">
										                <input type="text" placeholder="ticket title" id="ticketTitle" class="input-event" value="'.$ticket[0]["ticket_title"].'">
										            </div>
										            <div class="ticket-date">
										                <table border="0px solid">
										                    <tr>
										                       <td>Date</td>
										                        <td>:</td>
										                         <td>
										                            <span id="ticket-dateStart">
										                            	'.$ticket[0]["dateStart"].'
										                            </span>
										                        </td>
										                        <td>-</td>
										                         <td>
										                            <span id="ticket-dateEnd">
										                            	'.$ticket[0]["dateEnd"].'
										                            </span>
										                        </td>
										                    </tr>
										                    <tr>
										                        <td>Time</td>
										                        <td>:</td>
										                        <td>
										                            <span id="ticket-timeStart">
										                            	'.$ticket[0]["timeStart"].'
										                            </span>
										                        </td>
										                        <td>-</td>
										                        <td>
										                            <span id="ticket-timeEnd">
										                            	'.$ticket[0]["timeEnd"].'
										                            </span>
										                        </td>
										                    </tr>
										                </table>
										            <div id="ticket-location">Location : '.$location[0]["address"].'</div>
										            </div>
										            <div class="ticket-title">
										                <textarea class="input-event-transparent" rows="5" cols="10" id="ticketDescription" placeholder="Your Event Description">
										                '.$ticket[0]["ticket_description"].'
										                </textarea> 
										            </div>
										            <div class="sosmed-wrapper">
										                <input type="text" placeholder="facebook" id="fb" value="'.$ticket[0]["facebook"].'">
										                <input type="text" placeholder="e-mail" id="email" value="'.$ticket[0]["email"].'">
										                <input type="text" placeholder="Phone Number" id="p-number" value="'.$ticket[0]["phone"].'">
										            </div>
										        </div>
										    </div>
										</div>
										';
									}
								}
							?>
							<!-- event type private, select infriend -->
							<div id="infriend-wapper" style="margin-top: 10px;">
								<?php
									if($event[0]["type"] == "private"){
										echo '
										<div id="new-search-friend">
											<div class="label-text">Type your infriend name here</div>
											<div id="infriend-list" style="margin-top: 5px;"> ';
											if(isset($infriend)){
												foreach ($infriend as $row) {
													echo '
													<div id="'.$row["friend_id"].'-bandages" style="background-color: #4CAF50; color: white; height: 30px; display: inline-block; padding: 5px;margin-left : 5px; margin-top : 5px;">
														'.$row["name"].'
													<input type="hidden" class="friend-id" value="'.$row["friend_id"].'">
													<span onclick="deleteList('.$row["friend_id"].')" aria-hidden="true" class="btn-close">&times;</span>
													</div>
													';
												}
											}
											
										echo '
											</div>	
											<div id="list-res">
												<input id="search-friend" type="text" class="form-input input-event" style="margin-top: 2px;">
											</div>
										</div>
										';
									}
								?>
								
							</div>
						
							<!-- when display button, generate using jquery -->
							<hr>
							<div align='center' class="btn-wrapper">
								<div id='btn-events'><table style='width: 100%; text-align: center;'><tr><td><button id='save-event' class='btn btn-primary' style='border-radius: 0px;'>Continue to Preview</button></td></tr></table></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		<!-- footer -->
		<div class="footer">

		</div>
		<!-- bootstrap js file -->
		<script src='<?php echo base_url(); ?>assets/js/bootstrap.min.js'></script>
		<!-- Swiper JS, use not used yet -->
		<script src="<?php echo base_url(); ?>swiper-4.1.6/dist/js/swiper.min.js"></script>
		<!-- google map and google place auto complete, done by using 1 url (no duplicate api key) -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi8pAFaNLoQPDgUaeH9tg4sN1G3jRc50o&libraries=places&callback=initMap"
        async defer></script>
        
        <!-- all google map process here, except sending data to ajax -->
		<script type="text/javascript">
			var map, infoWindow, user_potition;
			var componentForm = {
			  locality: 'long_name',
			  administrative_area_level_1: 'long_name',
			  country: 'long_name',
			};
			function initMap() {
				var map_prop = '<?php echo json_encode($location); ?>';
  				var map_prop_use = JSON.parse(map_prop);
  				//focus map to center
		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 12,
		          center: {lat: parseFloat(map_prop_use[0].latitude), lng: parseFloat(map_prop_use[0].longitude)}
		        });

				user_potition = new google.maps.Marker({
	            	position : {lat: parseFloat(map_prop_use[0].latitude), lng: parseFloat(map_prop_use[0].longitude)},
	            	map : map,
	            	draggable : true
	            });
	            //print to lat and lng text input (type hidden)
	            $("#latitude").val(parseFloat(map_prop_use[0].latitude));
		    	$("#longitude").val(parseFloat(map_prop_use[0].longitude));

	            codeAddress(parseFloat(map_prop_use[0].latitude), parseFloat(map_prop_use[0].longitude));
	            user_potition.addListener('dragend', handleEvent);
	 
				//auto complete
				var input = document.getElementById('searchTextField');
				var autocomplete =  new google.maps.places.Autocomplete(input);
				//get lat long and move the marker
				google.maps.event.addListener(autocomplete, 'place_changed', function () {
					
		      		var place = autocomplete.getPlace();
		      		//move marker
		      		user_potition.setPosition( new google.maps.LatLng( place.geometry.location.lat(), place.geometry.location.lng() ) );
		      		$("#latitude").val(place.geometry.location.lat());
		    		$("#longitude").val(place.geometry.location.lng());
		           
		            $("#formatted_address").val(place.formatted_address);

		            for(var i=0; i<place.address_components.length;i++){
		            	var addressType = place.address_components[i].types[0];
		            	if(addressType == "administrative_area_level_1"){
		            		//alert(place.address_components[i]['long_name']);
		            		$("#administrative_area_level_1").val(place.address_components[i]['long_name']);
		            		break;
		            	}
		            }
		           
		            user_potition.addListener('dragend', handleEvent);
		            //set focus to the marker
		            map.setCenter({
		            	lat : place.geometry.location.lat(),
		            	lng : place.geometry.location.lng()
		            });
		           map.setZoom(12);
		      	});
		     }

		    function handleEvent(event) {
		    	$("#latitude").val(event.latLng.lat());
		    	$("#longitude").val(event.latLng.lng());
		    	codeAddress(event.latLng.lat(), event.latLng.lng());
			}

			function codeAddress(lat, lng){
			  var geocoder = new google.maps.Geocoder();
			  var latLng = {lat : lat, lng : lng};
			   geocoder.geocode({'location': latLng}, function(results, status) {
		          if (status === 'OK') {
		            if (results[1]) {
		             	$("#formatted_address").val(results[1].formatted_address);

		              	for(var i=0; i<results[1].address_components.length;i++){
			            	var addressType = results[1].address_components[i].types[0];
			            	if(addressType == "administrative_area_level_1"){
			            		//alert(place.address_components[i]['long_name']);
			            		$("#administrative_area_level_1").val(results[1].address_components[i]['long_name']);
			            		break;
			            	}
		           		}
		            } else {
		              alert('No results found');
		            }
		          } else {
		            window.alert('Geocoder failed due to: ' + status);
		          }
		        });
			}
		</script>
		<!-- Initialize Swiper -->
		<script>
			$("#header").load('<?php echo site_url("c_create_event/header_load"); ?>');
			$("#footer").load('<?php echo site_url("c_create_event/footer_load"); ?>');
			var swiper = new Swiper('.swiper-container', {
				spaceBetween: 30,
				effect: 'fade',
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});

			//display image before upload
			var imagesPreview = function (input, placeToInsertImagePreview) {
		        if (input.files) {
		        	//detect is event image change or not, if image chngae by click choose button, automaticaly give 'yes' to input type hidden under the image-galery(div)
		        	$("#is-image-change").val("yes");
		            if ($(".event-image-input").length != 0) {
		                $(".event-image-input").remove();
		            }
		            var filesAmount = input.files.length;

		            for (i = 0; i <= 1; i++) {
		                var reader = new FileReader();
		                var reader2 = new FileReader();
		                var readerALl = new FileReader();

		                readerALl.onload = function (event) {
		                    $($.parseHTML('<img>')).attr({
		                        'src': event.target.result,
		                        'class': 'event-image-input',
		                        
		                    }).appendTo(placeToInsertImagePreview);

		                }
		                readerALl.readAsDataURL(input.files[i]);
		                
		                if (i == 0) {
		                    reader.onload = function (event) {
		                       // console.log(event.target.result);
		                        $("#slide1").attr('style', 'background-image:url(' + event.target.result + ')');
		                    }
		                    reader.readAsDataURL(input.files[0]);
		                } else if (i == 1) {
		                    reader2.onload = function (event) {
		                       // console.log(event.target.result);
		                        $("#slide2").attr('style', 'background-image:url(' + event.target.result + ')');
		                    }
		                    reader2.readAsDataURL(input.files[1]);
		                }
		            }
		        }

		    };
		    $('#files').on('change', function () {
		        imagesPreview(this, 'div.gallery');
		    });

		    function addList(id, name){
			if($("#"+id+"-bandages").length == 0){
				$("#infriend-list").append('<div id="'+id+'-bandages" style="background-color: #4CAF50; color: white; height: 30px; display: inline-block; padding: 5px;margin-left : 5px; margin-top : 5px;">'+
				name + 
				'<input type="hidden" class="friend-id" value="'+id+'">'+
				'<span onclick="deleteList('+id+')" aria-hidden="true" class="btn-close">&times;</span>'+
				'</div>');
			}
			}
			function deleteList(id){
				$("#"+id+"-bandages").remove();
			}

		   
		   //jquery ready function here
			$(document).ready(function () {
				//search friend
				$("#infriend-wapper").on("keyup","#search-friend",function(){
					var name = $("#search-friend").val();
					if(name || name != null){
						$.ajax({
							method : "POST",
							url :  "<?php echo site_url('c_add_infriend/search_in_friend_list'); ?>",
							data : {"name" : name},
							dataType : 'json',
							success : function(res){
								//console.table(res);
								$(".result-list").remove();
								
									for(var i=0;i<res.length;i++){
										var base ="";
										if(res[i].original_photo == null){
											base = "<?php echo base_url();?>/assets/img/user.png";
										}
										else{
											base = "<?php echo base_url();?>" +res[i].original_photo;
										}
										
										$("#list-res").append('<div onclick="addList('+res[i].friend_id+',\''+res[i].name+'\')" class="result-list" id="'+res[i].friend_id+'" style="width: 100%; height: 50px;  background-color: white; box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);">'+
											'<div class="wrapper" ><table border="0px solid black" style="width: 100%;"><tr><td style="width:55px;"><div class="photo"><img src="'+base+'" style="width:50px; height: 50px;" ></div></td><td style="width:40%;"><div>'+res[i].name+'</div></td><td style="text-align:right;"></td></tr></table></div>'+
										'</div>');
									}
									
							},
							error : function(err){
								console.log(err);
								alert('error occured when add friend');
							}
						});
					}
				});
				$("#search-friend").blur(function()
				{
				    if( !$(this).val() || $(this).val().length === 0 ) {
				          $(".result-list").remove();
				    }
				});
						//selected the value of time start
				var ts = JSON.parse('<?php echo json_encode($event[0]["timeStart"]); ?>');
				$("#timeStart > option").each(function(){
					if($(this).val() == ts){
						$(this).attr("selected", true);
					}
				});
				//selected the value of time end
				var te = JSON.parse('<?php echo json_encode($event[0]["timeEnd"]); ?>');
				$("#timeEnd > option").each(function(){
					if($(this).val() == te){
						$(this).attr("selected", true);
					}
				});
				//select event category
				var cate = JSON.parse('<?php echo json_encode($event[0]["kategori_id"]); ?>');
				$("#category > option").each(function(){
					if($(this).val() == cate){
						$(this).attr("selected", true);
					}
				});
			
				//load nicEdit editor (event description)
				bkLib.onDomLoaded(function() {
				    nicEditors.editors.push(
				        new nicEditor().panelInstance(
				            document.getElementById('event-title-area')
				        ).panelInstance(document.getElementById('event-description-area'))
				    );
				});
				 //check event type
				 //public event or private event, if public append radio button
				 //need ticket or not need
			    $("#eventType").click(function () {
			        if ($("#public").prop("checked")) {
			            if ($("#need-ticket").length == 0) {
			            	
			            	if($("#new-search-friend").length != 0){
			            		$("#new-search-friend").remove();
			            	}
			                $("#ticketAvailable").hide().append("<div id='need-ticket' class='type-event label-text'>Need Ticket ?</div>").append("<div id='ticket-body'><input type='radio' name='gender' value='yes' id='yes'> yes : when your event wanna using ticket (paid or free ticket) and you want limit your customer attending<br><input type='radio' name='gender' value='no' id='no'> no : when your event not need ticket like promotion or discount etc.<br></div>").show(500);
			            }
			        }
			        else {
			            //check
			            if ($("#need-ticket").length != 0) {
			                $("#ticketAvailable").hide(500, function () { $("#need-ticket").remove();$("#ticket-body").remove();});
			               
			            }
			            if($("#ticket-option").length!=0){
			                $("#ticket-option").remove();
			            }
			            if($("#ticket-wrapper").length != 0){          
			                $("#ticket-wrapper").hide(500, function(){$("#ticket-wrapper").remove();});
			            }
			            if($("#new-search-friend").length == 0){
			            	$("#infriend-wapper").load("<?php echo site_url('c_create_event/search_infriend_edit'); ?>");
			            }
			            if($("#btn-events").length==0){
		                	$("#no-ticket").append("	<div id='btn-events'> <div class='date-left'><button id='save-event' class='btn btn-primary btn-event'>Save Your Event</button></div>  <div class='batas'></div> <div class='date-right'> <button id='btn-publish-event' class='btn btn-warning btn-event'>Publish or Share Your Event</button></div> </div>").show(1000);
		            	 }
			            
			        }
			    });
				//when datestart is change 
			    $("#eventDateStart").change(function(){
			        $("#ticket-dateStart").text($("#eventDateStart").val());
			        $("#tab-b-dateSart").text($("#eventDateStart").val());
			    });
			     $("#eventDateEnd").change(function(){
			     	$("#ticket-dateEnd").text($("#eventDateEnd").val());
			     	$("#tab-b-dateEnd").text($("#eventDateEnd").val());
			    });

			    $("#timeStart").change(function(){
			    	$("#ticket-timeStart").text($("#timeStart").val());
			    	$("#tab-b-timeStart").text($("#timeStart").val());
			    });
			    $("#timeEnd").change(function(){
			    	$("#ticket-timeEnd").text($("#timeEnd").val());
			    	$("#tab-b-timeEnd").text($("#timeEnd").val());
			    });
			    
				//when ticket available
				$("#yes-ticket").on("click","#ticket-option", function(){
					if($("#free").prop("checked")){
						//load free ticket here
						if($("#ticket-wrapper").length > 0){
							$("#ticket-wrapper").remove();
						}
						$("#ticket-shown").hide().load("<?php echo site_url('c_create_event/ticket_free'); ?>").fadeIn(800, function(){
							$("#ticket-dateStart").text($("#eventDateStart").val());
							$("#ticket-dateEnd").text($("#eventDateEnd").val());
							$("#ticket-timeStart").text($("#timeStart").val());
							$("#ticket-timeEnd").text($("#timeEnd").val());
							$("#ticket-location").text("Location : "+ $("#formatted_address").val());
						});
					}
					else{
						//load paid ticket here
						if($("#ticket-wrapper").length > 0){
							$("#ticket-wrapper").remove();
						}
						$("#ticket-shown").hide().load("<?php echo site_url('c_create_event/ticket_pricing'); ?>").fadeIn(800, function(){
								$("#ticket-dateStart").text($("#eventDateStart").val());
								$("#ticket-dateEnd").text($("#eventDateEnd").val());
								$("#ticket-timeStart").text($("#timeStart").val());
								$("#ticket-timeEnd").text($("#timeEnd").val());
								$("#ticket-location").text("Location : "+ $("#formatted_address").val());
						});
					}
				});
				//Need Ticket ?
		     $("#ticketAvailable").click(function () {
		        
		        if($("#yes").prop("checked")){
		            if($("#ticket-option").length == 0){
		           		$("#yes-ticket").hide().fadeIn(1000).append("<div id='ticket-option'><div id='ticket-pricing' class='type-event label-text'>Choose your Ticket Pricing</div><form><input type='radio' value='free' name='free' id='free'> Free Ticket<br><input type='radio' value='paid' id='paid' name='free'> Paid Ticket<br></form></div>");
		            }
		            if($("#btn-events").length==0){
		                $("#no-ticket").append("	<div id='btn-events'> <div class='date-left'><button id='save-event' class='btn btn-primary btn-event'>Save Your Event</button></div>  <div class='batas'></div> <div class='date-right'> <button id='btn-publish-event' class='btn btn-warning btn-event'>Publish or Share Your Event</button></div> </div>").show(1000);
		             }
		        }
		        else{
		            if($("#ticket-wrapper").length != 0){          
		                $("#ticket-wrapper").hide(500, function(){$("#ticket-wrapper").remove();});
		            }
		            if($("#ticket-option").length != 0){
		            	$("#ticket-option").remove();
		            }
		           if($("#btn-events").length==0){
		                 $("#no-ticket").append("	<div id='btn-events'> <div class='date-left'><button id='save-event' class='btn btn-primary btn-event'>Save Your Event</button></div>  <div class='batas'></div> <div class='date-right'> <button id='btn-publish-event' class='btn btn-warning btn-event'>Publish or Share Your Event</button></div> </div>").fadeIn(1000);
		           }
		        }
		     });


				//when save event clicked, using on because button is dynamically generated
				$("#save-event").click(function () {
					//get event description value and save to queston variable
					var nicE = new nicEditors.findEditor('event-description-area');
					var question = nicE.getContent();
					//get event title by textarea
					var nicETitle = new nicEditors.findEditor('event-title-area');
					var question2 = nicETitle.getContent();
					//get event location description
					var location_desc = $("#event-location-desc").val();
					//get date time
					var time = new Date();
					var date = time.getDate();
					var month = time.getMonth()+1;
					var years = time.getFullYear();
					var hours = time.getHours();
					var minutes = time.getMinutes();

					if(date < 10){
						date = "0"+date; 
					}
					if(month < 10){
					 	month = "0"+month;
					}
					if(hours < 10){
						hours = "0"+hours;
					}
					if(minutes < 10){
						minutes = "0"+minutes;
					}
					var dateNow = years+"-"+month+"-"+date+" "+hours+":"+minutes;
					var eventID = $("#event-id").val();
					var title = question2;
					var description = question;
					var dateStart = $("#eventDateStart").val();
					var dateEnd = $("#eventDateEnd").val();
					var timeStart = $("#timeStart").val();
					var timeEnd = $("#timeEnd").val();
					var videoUrl = encodeURIComponent($("#eventVideoUrl").val());
					
					var category = $("#category").val();
					var latitude = $("#latitude").val();
					var longitude = $("#longitude").val();
					var adminArea = $("#administrative_area_level_1").val();
					var address = $("#formatted_address").val();
					var type = '';
					var ticket = '';
					var image_change = $('#is-image-change').val();
					var form_data = new FormData();

					if ($("#public").prop("checked")) {
						type = 'public';
					} else {
						type = 'private'
						var arr =[];
						$(".friend-id").each(function(){
							// alert($(this).val());
							arr.push($(this).val());
						});
						if(arr.length != 0){
							var json_arr = JSON.stringify(arr);
							form_data.append("friend",json_arr);
						}
					}
					if ($("#yes").prop("checked")) {
						ticket = 'yes';
						form_data.append('ticket_total', $("#numberTicket").val());
						form_data.append('maximum_order', $("#maximum-order").val());
						form_data.append('price', $("#ticket-price").val());
						form_data.append('ticket_title', $("#ticketTitle").val());
						form_data.append('ticket_description', $("#ticketDescription").val());
						var fbUrl = encodeURIComponent($("#fb").val());
						form_data.append('fb', fbUrl);
						form_data.append('email', $("#email").val());
						form_data.append('p_number', $("#p-number").val());
					} else {
						ticket = 'no';
					}
					
					//check file input type, if image pass it, if not give alert
					var files = $("#files")[0].files;
					var error = '';
					
					form_data.append("eventID", eventID);
					form_data.append('title', title);
					form_data.append('description', description);
					form_data.append('dateStart', dateStart);
					form_data.append('dateEnd', dateEnd);
					form_data.append('timeStart', timeStart);
					form_data.append('timeEnd', timeEnd);
					form_data.append('category', category);
					form_data.append('type', type);
					form_data.append('ticket', ticket);
					form_data.append('lat', latitude);
					form_data.append('lng', longitude);
					form_data.append('adminArea', adminArea);
					form_data.append('address', address);
					form_data.append("dateNow", dateNow);
					form_data.append("location_desc", location_desc);
					form_data.append("img_change", image_change);
					if(videoUrl){
						form_data.append('videoUrl', videoUrl);
					}
					for (var i = 0; i < files.length; i++) {
						var name = files[i].name;
						var extension = name.split('.').pop().toLowerCase();
						if (jQuery.inArray(extension, ['jpg','png','jpeg', 'gif'])) {
							error = "error";
							alert("Image type not allowed");
						} else {
							form_data.append("files[]", files[i]);
						}
					}

					if (error == '') {
							$.ajax({
							method: 'POST',
							url: "<?php echo site_url('c_create_event/edit_my_event'); ?>",
							data: form_data,
							contentType: false,
							cache: false,
							processData: false,
							dataType: 'json',
							success: function (data) {
								alert("Your event save successfully, click ok to continue");
								window.location.replace("<?php echo site_url('c_create_event/view_event/'); ?>"+data);
							},
							error: function (data) {
								alert("error");
							}
						});
					}

					
				});	
							
			});

		</script>
</body>

</html>
