<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Create Event</title>

	<script src='<?php echo base_url(); ?>assets/js/jquery-3.3.1.min.js'></script>
	<script src='<?php echo base_url(); ?>assets/js/jquery-ui-1.10.0.custom.min.js'></script>
	<!--styles -->
	<link href="<?php echo base_url(); ?>assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="<?php echo base_url(); ?>assets/css/jquery-ui.css" rel="stylesheet">
	<link type="text/css" href="<?php echo base_url(); ?>assets/css/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
	<!-- link fontawesome css from CDN -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/css/style.css"></link>
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="<?php echo base_url(); ?>swiper-4.1.6/dist/css/swiper.css"></link>

	<style type="text/css">
		.body{
		background-color: #F1F1F1;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
	}
	.wrapper{
	    width: 60%;
	    overflow: auto;
	    background-color: white;
	    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 2%;
	    margin-bottom: auto;
	}
	.event a {
	    background-color: #5FBA7D !important;
	    color: #ffffff !important;
	}
	.img-blur{
		width: 100%;
		height: 500px;
		filter: blur(20px);
	}
	</style>
</head>

<body class="body">
	<div id="header"></div>
	<!-- save id into a input to permanetn store, free access -->
	<?php
		echo '
		<input type="hidden" id="event-id" value="'.$event[0]["event_id"].'">
		';
		if(isset($ticket)){
			echo '<input type="hidden" id="price-ticket" value="'.$ticket[0]["price"].'">';
		}
	?>
	
	<?php
		$url = base_url() . "" . $photo[0]["photo_url"];
		echo '
			<div style="height: 500px; width: 100%; background-color: black; position: absolute; z-index: -1;">
				<img src="'.$url.'" class="img-blur">
			</div>
		';
	?>

	<div class="wrapper" style="width: 90% !important; background-color: none !important;">

		<div class="swiper-container">
	    <div class="swiper-wrapper">
	    	<?php
	    	$len =  count($photo);
	    		foreach ($photo as $row) {
	    			$url = base_url() . "" . $row["photo_url"];
	    			echo '
	    				<div class="swiper-slide" style="background-image:url('.$url.')"></div>
	    				<input type="hidden" value="'.$len.'" id="swiper-len">
	    			';	
	    		}
	    	?>
	     
	    </div>
	    <!-- Add Pagination -->
	    <div class="swiper-pagination"></div>
	   
	  </div>
	</div>
	<!-- youtube video -->
	<?php
		if(isset($event[0]["video_url"]) && $event[0]["video_url"] != ''){
			$uri = urldecode($event[0]["video_url"]);
				echo '
					<div class="wrapper" style="width: 90% !important;">
						<iframe width="100%" height="515" src="'.$uri.'" frameborder="0" allowfullscreen></iframe>
					</div>
				';
		}
	?>
	
	<div style="height: 50px;"></div>

	<div style="overflow: auto;">
	<!-- displaying event content -->
	<!-- event title and description -->
	<div  style="margin-left: 5%; width: 70%;overflow: auto;background-color: white; box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); float: left; padding: 20px; text-align: justify; min-height: 750px;">
		<div><h3><?php echo $event[0]["title"]; ?></h3>	</div>
		<div>
			<?php
			$desc = nl2br($event[0]["description"]);
			echo $desc; 
			?> 
		</div>
	</div>

	<!-- event date and time -->
	<div style="width: 18%; height: 800px; float: right; margin-right: 5%;">
		<!-- date and tme start -->
		<div style="width: 220px; height: 30px; background-color: white; text-align: center; padding-top: 5px;box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); color: orange; border-top-right-radius: 20px; border-top-left-radius: 20px;">Event start</div>
		<div id="datepicker"></div>
		<div style="width: 220px; height: 30px; background-color: white; text-align: center; padding-top: 5px;box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);">
			<b>
				<?php
					echo $event[0]["timeStart"];
				?> 
			</b>
		</div>
		<!-- date and time end -->
		<div style="width: 220px; height: 30px; background-color: white; text-align: center; padding-top: 5px;margin-top: 20px;box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); color: orange; border-top-right-radius: 20px; border-top-left-radius: 20px;">Event end</div>
		<div id="datepickerEnd"></div>
		<div style="width: 220px; height: 30px; background-color: white; text-align: center; padding-top: 5px;box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);">
			<b>
				<?php
					echo $event[0]["timeEnd"];
				?> 
			</b>
		</div>
		<!-- display is ticket available or not -->
		<?php
			if($event[0]["ticket"] == "yes"){
				// if ticket is available
				echo '
					<div class="alert alert-success" style="border-radius: 0px !important;box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); margin-top: 20px;width: 220px; text-align : center;	cursor : pointer;">
						<strong>Ticket are available, BOOK NOW!</strong>
					</div>
					';
			}
			else{
				echo '
					<div class="alert alert-danger" style="border-radius: 0px !important;box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); margin-top: 20px;width: 220px;">
						<strong>No Tickets Sell on In Map</strong>
					</div>
				';
			}
		?>

		<!-- likes button -->
		<div style="height: 50px;">
			<div onclick="like()" style="height: 50px; width: 50px; background-color: white; border-radius: 25px;box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); cursor: pointer; float: left; text-align: center; padding-top: 10px;" id="like">
				<?php
					if(count($like) > 0){
						echo '
							<i id="heart-solid" class="fas fa-heart" style="font-size:30px;color:#DD2E44;"></i>
						';
					}
					else{
						echo '
						<i id="heart" class="far fa-heart" style="font-size:30px;color:black;"></i>
						';
					}
				?>
			</div>
			<?php
				if(isset($total_like[0]["total_like"])){
					$l = $total_like[0]["total_like"];
				}
				else{
					$l = 0;
				}
				echo '
					<div id="like-text" style="padding-top: 15px; padding-left: 10px; background-color: green, float : left; overflow: auto;"><div id="text-like"> '.$l.' likes</div>
					</div>
					<input type="hidden" value="'.$l.'" id="total-like">
				';
			?>
		</div>
		
		
	</div>
	</div>

	<!-- display ticket if ticket is available -->
	<?php 
		if($event[0]["ticket"] == "yes"){
			// check is tickets are free or paid
			if($ticket[0]["price"] > 0){
				$price ='Rp'. number_format($ticket[0]["price"],2,',','.');
			}
			else{
				$price = "FREE";
			}
			echo '
			<div class="wrapper" style="width: 90%; padding: 20px;">
				<div id="ticket-wrapper" style="overflow: auto; height : 390px;">
			    <div class="label-text type-event">
			    	<i class="fas fa-ticket-alt" style="color : orange;"></i>
			    	Events Ticket
			    </div>
			    
			    <div id="ticket-body" class="ticket ticket-text">
			        <div class="left-side">
			            <div class="logo"></div>
			            <div class="barcode"></div>
			            <div class="price" id="ticket-price"> 
			                Price : '.$price.'
			            </div>
			        </div>
			        <div class="right-side">
			             <div class="ticket-title" style="margin-top: 5px;" align="center" id="ticket-title">
			                <h4>'.$ticket[0]["ticket_title"] .'</h4>
			            </div>
			            <div class="ticket-date">
			                <table border="0px solid">
			                    <tr>
			                       <td>Date</td>
			                        <td>:</td>
			                         <td>
			                            <span id="ticket-dateStart">
			                            	'.$ticket[0]["dateStart"] .'
			                            </span>
			                        </td>
			                        <td>-</td>
			                         <td>
			                            <span id="ticket-dateEnd">
			                            	'.$ticket[0]["dateEnd"] .'
			                            </span>
			                        </td>
			                    </tr>
			                    <tr>
			                        <td>Time</td>
			                        <td>:</td>
			                        <td>
			                            <span id="ticket-timeStart">
			                            	'.$ticket[0]["timeStart"] .'
			                            </span>
			                        </td>
			                        <td>-</td>
			                        <td>
			                            <span id="ticket-timeEnd">
			                            	'.$ticket[0]["timeEnd"] .'
			                            </span>
			                        </td>
			                    </tr>
			                </table>
			            <div id="ticket-address">
			            	Location : '.$ticket[0]["address"] .'
			            </div>
			            </div>
			            <div class="ticket-title" id="ticket-desc" style="padding-top : 20px; text-align: center;">
			                '. $ticket[0]["ticket_description"]  .'
			            </div>
			            <!-- <div class="sosmed-wrapper">
			                <input type="text" placeholder="facebook" id="fb"><input type="text" placeholder="e-mail" id="email"><input type="text" placeholder="Phone Number" id="p-number">
			            </div> -->
			            <div style="margin-top: 60px;">
			            	<table border="0px solid black" style="width : 100%; text-align : center;">
			            		<tr>
			            			<td>'.urldecode($ticket[0]["facebook"]).'</td>
			            			<td>'.$ticket[0]["email"].'</td>
			            			<td>'.$ticket[0]["phone"].'</td>
			            		</tr>
			            	</table>
			            </div>
			        </div>
			    </div>
			</div>

			<div>
			<table style="width : 100%; text-align : center;">
				<tr>
					<td>
						<div style="padding-top : 10px; color : red;">
							<h5>'.$price.'</h5>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-success" id="btn-book" style="border-radius : 20px; width : 200px;">Lets book now</button>
					</td>
				</tr>
			</table>
			</div>
			</div>
			';
		}
	?>
	
	<!-- display map on event location -->
	<div class="wrapper" style="width: 90% !important; margin-top: 30px !important;">
		<!-- showing map here -->
		<div class="label-text" style="margin-top: 5px; margin-left: 5px;">
			<i class="fas fa-map-marker-alt" style="color: orange;"></i>
			Event Location :</div>
		<div id="map" class="map">
			
		</div>
		<!-- display location description by event organizer -->
		<?php
			if($location[0]["address_description"]){
				echo '
					<div style=" margin-top: 20px; padding: 10px;">
						<div style="color: orange;">
							About this location : 
						</div>
						'.$location[0]["address_description"].'
					</div>
				';
			}
		?>
		
	</div>
	<!-- block -->
	<div style="height: 10px;"></div>
	<!-- if event type is private event, so here we display the list of inviited friends -->
	<div style="width: 100%; overflow: auto;">
	<?php
		if(isset($infriend)){
			echo '
				<div class="wrapper" style="float : left; margin-left : 5%; padding : 10px;">
				<div class="label-text">People are invited</div>
				<table style="width: 100%;" border="0px solid black">
			';
			foreach ($infriend as $row) {
					if($row["original_photo"] == null){
						$url = base_url() . '/assets/img/user.png';
					}
					else{
						$url = base_url() . '/' . $row["original_photo"];
					}
					echo '
					<tr style="padding-top : 15px;">
						<td style="width: 50px; height: 50px;">
							<img src="'.$url.'" style="width:50px; height: 50px;" >
						</td>
						<td style="padding-left : 5px;">'.$row["name"].'</td>
					</tr>
					';
				}
			echo '
				</table>
				</div>
			';
		}
	?>
	</div>
	<!-- display button edit and publish event, this is will display when the event offline -->
	<?php
		if($event[0]["status"] == "offline"){
			$tips = "When you see your event's content is not good, lets edit your content first and make your event live";
			$cont = "I'm not ready, edit my event";

			$tips2 = "If you ready to publish your event to public/invited infriend, you can't edit this event again";
			$cont2 = "I'm ready, Let's make my event live";
			echo '
				<hr>
				<table style="width: 100%;">
					<tr>
						<td style="text-align: right;">
							<button class="btn btn-danger" onclick="editEvent('.$event[0]["event_id"].')" data-toggle="tooltip" title=".$tips." style="border-radius: 0px;">'.$cont.'</button>
						</td>
						<td>
							<button class="btn btn-primary" onclick="makeEventLive('.$event[0]["event_id"].')"  data-toggle="tooltip" title="'.$tips2.'" style="border-radius: 0px;">'.$cont2.'</button>
						</td>
					</tr>
				</table>
			';
		}
	?>
	
	<div style="height: 10px;"></div>
	<!-- display user that posted event -->
	<div class="wrapper" style="width: 90% !important; padding: 20px;">
		This event was posted by :
		<div>
			<div style="cursor: pointer;float: left; height: 50px; width: 50px; background-color: gray; border-radius: 25px;">
				<?php
				if($event[0]["original_photo"] != '' || $event[0]["original_photo"] != null){
					$url = base_url() . "" . $event[0]["original_photo"];
					echo '
						<img src="'.$url.'" style="height : 50px; width : 50px; border-radius : 25px;" />
					';
				}
				else{
					$url = base_url() . "assets/img/user.png";
					echo '
						<img src="'.$url.'" style="height : 50px; width : 50px; border-radius : 25px;" />
					';
				}
				?>
			</div>
			<div style="margin-top: 15px;margin-left: 5px;float: left;">
				<b>
					<?php
						echo $event[0]["name"]
					?>

				</b><br>
				<span style="font-size: 8pt;"> 
					<?php
						echo substr($event[0]["post_time"],0,16);
					?>
				 </span>
			</div>
		</div><br><br><br>
		<hr>
		Comment to this event :
		<textarea class="form-control" id="static-com"></textarea>
		<?php
			echo '
				<button class="btn btn-primary float-right btn-sm" style="margin-top: 10px;border-radius: 0px !important;" onclick="commentToParent('.$event[0]['event_id'].')">
					Post Comment
				</button>
			';
		?>
		
		<div style="height: 50px;"></div>
		<hr>
		<table style="width: 100%; text-align: center; margin-top: -15px;">
			<tr>
				<td id="show_comment">
					<?php
						if(isset($isComment)){
							echo '
							<button id="show-comment-btn" onclick="showComment('.$event[0]['event_id'].')" class="btn btn-success" style="border-radius: 20px; font-size: 8pt;">show comment</button>
							';
						}
						else{
							echo '
								<h6 id="no-comment">There is no comment yet</h6>
							';
						}
						
					?>
				</td>
			</tr>
		</table>
		<!-- display comment -->
		<div id="<?php echo $event[0]['event_id'] ?>">
			
		</div>
	</div>

	<!-- footer -->
		<div id="footer" style="margin-top: 40px;">

		</div>

	<!-- bootstrap js file -->
	<script src='<?php echo base_url(); ?>assets/js/bootstrap.min.js'></script>
	<script type="text/javascript"  src="<?php echo base_url(); ?>assets/js/swiper.min.js"></script>
 <script>
 	//count image on swiper to change behavior of swipper
 	if ($("#swiper-len").val() > 1) {
 		 var swiper = new Swiper('.swiper-container', {
	      slidesPerView: 1,
	      spaceBetween: 30,
	      loop: true,
	      autoplay: {
	        delay: 5500,
	        disableOnInteraction: false,
	      },
	      pagination: {
	        el: '.swiper-pagination',
	        clickable: true,
	      },
	      navigation: {
	        nextEl: '.swiper-button-next',
	        prevEl: '.swiper-button-prev',
	      },
	    });
 	}
 	else{
 		 var swiper = new Swiper('.swiper-container', {
	      slidesPerView: 1,
	      spaceBetween: 30,
	      pagination: {
	        el: '.swiper-pagination',
	        clickable: true,
	      },
	      navigation: {
	        nextEl: '.swiper-button-next',
	        prevEl: '.swiper-button-prev',
	      },
	    });
 	}
  </script>
  <script type="text/javascript">
  	//load header and footer
  	$("#header").load('<?php echo site_url("c_create_event/header_load"); ?>');
	$("#footer").load('<?php echo site_url("c_create_event/footer_load"); ?>');
	var shown = false;
	//display comment after press show comment button
	function showComment(id){
		shown = !shown;
		if(shown == true){
			$("#show-comment-btn").text("Hide comment");
			$.ajax({
				method : "POST",
				url : "<?php echo site_url('c_create_event/get_comment'); ?>",
				data : {"id" : id},
				dataType : 'json',
				success: function(res){
					console.table(res);
					for(var i = 1; i < res.length; i++){
						if($("#"+res[i].parent).length != 0){
							if(res[i].original_photo == null){
								var base = "<?php echo base_url();?>/assets/img/user.png";
							}
							else{
								var base = "<?php echo base_url();?>" +res[i].original_photo;
							}
							$("div #"+res[i].parent).append(''+
								'<div style="height : 30px;"></div>'+
								'<div id="'+res[i].id+'" 	style=" margin-left : 30px;">'+
									'<div>'+
										'<img src ="'+base+'" style="height:50px; width : 50px; border-radius : 25px;"> <b>'+res[i].username+'  </b><br> '+res[i].content+
									'</div>'+
									'<div style="font-size: 9pt; float: left;">'+
										'<b>'+res[i].comment_time.substring(0,16)+'</b>'+
									'</div>'+
									'<div style="font-size: 10pt; float: left; margin-left: 15px; cursor: pointer;">'+
										'<a onclick="showCommentInput('+res[i].id+')">'+
											' <b>Reply</b>'+
										'</a>'+
										
									'</div>'+
									'<div style="margin-top : 5px;width : 100%;" id="'+res[i].id+'-coment-box"></div>'+
								'</div>'

								+''
							);
						}
					}
				},
				error : function(){
					alert("feiled");
				}
			});
		}
		else{
			$("#show-comment-btn").text("Show comment");
			var active_id = $('#event-id').val();
			$("#"+active_id).html("");
		}
	}
	//coment event
	function commentToParent(id){
		if($("#area-"+id).length == 0){
			var comment = $("#static-com").val();
		}
		else{
			var comment = $("#area-"+id).val();
		}

		if(comment){
			var time = new Date();
			var date = time.getDate();
			var month = time.getMonth()+1;
			var years = time.getFullYear();
			var hours = time.getHours();
			var minutes = time.getMinutes();

			if(date < 10){
				date = "0"+date; 
			}
			if(month < 10){
			 	month = "0"+month;
			}
			if(hours < 10){
				hours = "0"+hours;
			}
			if(minutes < 10){
				minutes = "0"+minutes;
			}
			var dateNow = years+"-"+month+"-"+date+" "+hours+":"+minutes;
			$.ajax({
				method : "POST",
				url : "<?php echo site_url('c_create_event/add_comment'); ?>",
				data : {"comment" : comment, "parent" : id, "date" : dateNow},
				dataType : 'json',
				success: function(res){
					if(res[0].original_photo == null){
						var base = "<?php echo base_url();?>/assets/img/user.png";
					}
					else{
						var base = "<?php echo base_url();?>" +res[0].original_photo;
					}
					$("#"+id).append(''+
						'<div style="height : 30px;"></div>'+
						'<div id="'+res[0].comment_id+'" 	style=" margin-left : 30px;">'+
							'<div>'+
								'<img src ="'+base+'" style="height:50px; width : 50px; border-radius : 25px;"> <b>'+res[0].username+'  </b> <br>'+res[0].content+
							'</div>'+
							'<div style="font-size: 9pt; float: left;">'+
								'<b>'+res[0].comment_time.substring(0,16)+'</b>'+
							'</div>'+
							'<div style="font-size: 10pt; float: left; margin-left: 15px; cursor: pointer;">'+
								'<a onclick="showCommentInput('+res[0].comment_id+')">'+
									' <b>Reply</b>'+
								'</a>'+
								
							'</div>'+
							'<div style="margin-top : 5px;width : 100%;" id="'+res[0].comment_id+'-coment-box"></div>'+
						'</div>'

					+''
				);
					$("#c-"+id).remove();
					$("#static-com").val('');
					$("#no-comment").remove();

				},
				error : function(){
					alert("feiled");
				}
			});
		}
		else{
			alert("You cannot add empty comment!");
		}

	}

	//show comment area
	function showCommentInput(id){
		if($("#c-"+id).length == 0){
			$("#"+id+"-coment-box").hide().append(''+
				'<div id="c-'+id+'">'+
				'<textarea class="form-control" style="height : 50px;" id="area-'+id+'"></textarea>'+
				'  <button class="btn btn-secondary float-right btn-sm" style="margin-top: 5px;" onclick="commentToParent('+id+')" id="btn-c-'+id+'">Reply'+
				'</button>'+
				'</div>'
				+'').fadeIn(500, function(){
					//$('#area-'+id).autogrow();
				});
		}
		else{
			
			$("#c-"+id).fadeOut(500, function(){
				$("#c-"+id).remove();
			});
			
		}
		
	}
	// like event
	function like(){
		var id = $("#event-id").val();
		$("#like > #heart").remove();
		if($("#heart-solid").length == 0){
			$("#like").append('<i id="heart-solid" class="fas fa-heart" style="font-size:30px;color:#DD2E44;"></i>');
			// ajax call
			$.ajax({
				type : "POST",
				url : "<?php echo site_url('c_create_event/like_event')?>",
				data : {"id" : id},
				dataType :'json',
				success : function(res){
					var jum = +$("#total-like").val() + 1;
					$("#text-like").remove();
					$("#like-text").append('<div id="text-like"> '+jum+' likes</div>');
					$("#total-like").val(jum);

				},
				error : function(err){
					alert("error");
				}
			});
		}
	}

	function editEvent(id){
			document.location.href = "<?php echo site_url('c_create_event/edit_event/')?>"+id;
		}

	function makeEventLive(id){
		if(confirm("Are you sure want make this event live now ?\nnote : after go live you can't edit your event!")== true){
					var time = new Date();
					var date = time.getDate();
					var month = time.getMonth()+1;
					var years = time.getFullYear();
					var hours = time.getHours();
					var minutes = time.getMinutes();

					if(date < 10){
						date = "0"+date; 
					}
					if(month < 10){
					 	month = "0"+month;
					}
					if(hours < 10){
						hours = "0"+hours;
					}
					if(minutes < 10){
						minutes = "0"+minutes;
					}
					var dateNow = years+"-"+month+"-"+date+" "+hours+":"+minutes;
					$.ajax({
						type : "POST",
						url : "<?php echo site_url('c_create_event/publish_event'); ?>",
						data : {"id" : id, "time" : dateNow},
						dataType : 'json',
						success : function(res){
							alert("Congrats, Your event has been publish");
							document.location.href = "<?php echo site_url('c_my_event');?>";
						},
						error : function(err){
							alert("An error occured when publis your event,\nTry again later");
						}
					});
		}
	}
  	$(document).ready(function(){
  		//when book ticket clicked
  		$("#btn-book").click(function(){
  			var id = $("#event-id").val();
  			//if ticket price is not free
  			if($("#price-ticket").val() > 0){
  				document.location.href = "<?php echo site_url('c_create_event/book_ticket/');?>"+id;
  			}
  			else{//if free
  				document.location.href = "<?php echo site_url('c_create_event/book_ticket/');?>"+id;
  			}

  		});
  		
  		//set date start and dateEnd to jquery ui calendar
	  	var date1 = JSON.parse('<?php echo json_encode($event[0]["dateStart"]) ?>');
	  	var date2 = JSON.parse('<?php echo json_encode($event[0]["dateEnd"]) ?>');
		$( "#datepicker" ).datepicker({dateFormat : 'yy-mm-dd'}).datepicker("setDate", date1).datepicker({
			beforeShowDay: function( date ) {
	        var highlight = date1;
	        if( highlight ) {
	             return [true, "event", 'Tooltip text'];
	        } else {
	             return [true, '', ''];
	        }
	    }
		});
		$( "#datepickerEnd" ).datepicker({dateFormat : 'yy-mm-dd'}).datepicker("setDate", date2);
  	});
  	//map function
  	function initMap(){
  		var map_prop = '<?php echo json_encode($location); ?>';
  		var map_prop_use = JSON.parse(map_prop);
  		// console.table(map_prop_use);
  		var focus = {lat: parseFloat(map_prop_use[0].latitude), lng: parseFloat(map_prop_use[0].longitude)};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: focus
        });
        var eventMarker = new google.maps.Marker({
        	position : {lat: parseFloat(map_prop_use[0].latitude), lng: parseFloat(map_prop_use[0].longitude)},
        	map : map
        });
  	}
  </script>
  <script src="<?php echo base_url(); ?>assets/js/jquery-ui.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi8pAFaNLoQPDgUaeH9tg4sN1G3jRc50o&libraries=places&callback=initMap"
        async defer></script>
</body>

</html>
